@{
    ViewBag.Title = "About";
}


<div class="jumbotron text-center">
    <h1>Interservice App</h1>
    <p class="lead">About this Project.</p>
    <p> The goal of this project is to provide an updated system for class registration and tracking.</p>
    <p> As the app gets fleshed out maybe we could put some guides here?.</p>
</div>
