@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron  text-center">
    <h1>Interservice app Test</h1>
    <p class="lead">Hello User.</p>
    <p> Register for classes by clicking the Class Tab on the navigation bar.</p>
    <p> For Secretaries, Teachers, or managers please log in for more options.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Required Class: CPR Check Avalible classes.</h2>
        <p>
            *Insert class description here*
            *More class Descriptions*
            *Link to the registration page, maybe for specific class?*
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Required Class: Health Care 101 Check Avalible classes.</h2>
        <p>
            *Insert class description here*
            *More class Descriptions*
            *Link to the registration page, maybe for specific class?*
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Required Class: Health Care 102 Check Avalible classes.</h2>
        <p>
            *Insert class description here*
            *More class Descriptions*
            *Link to the registration page, maybe for specific class?*
        </p>
        <p></p>
    </div>
</div>