
@{
    ViewBag.Title = "Notify";
}

<head>
    <link href="~/Content/tables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/classportal.css" rel="stylesheet" type="text/css" />
</head>

<div class="classPortalNav">
    <span>All Necessary Users Were Notified!</span>
</div>

<div class="currentContentUser">
    @Html.ActionLink("Back to Staff List", "Index", null, new { @class = "btn btn-primary register createCourseBtn" })
</div>